.register-page .register-logo {
    width:100%;
}

.register-page .card-header {
    padding:0px;
    border-bottom: none;
}

.register-page .card-body {
    padding:0px;
    background-color: white;
}

.register-page .register-btn{
    color: #fff;
    background-color: #2281c2;
    border-color: #2281c2;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}